- include_css 'tickets/form.css'

%h1= t('.title')
%p
  =link_to t('back'), tickets_path
  
=form_for [@ticket,@change] do |c|  
  =field_set_tag do    
    - if @change.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@change.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @change.errors.full_messages.each do |msg|
          %li= msg
    .field
      =c.label  t('.change_types')    
      =c.select :change_type, Change::CHANGE_TYPES.map{|ct| [t(ct),ct]}      
    .field
      =c.label t('.intern_comments')
      =c.text_area :intern_comments
    .field
      =c.label  t('.extern_comments')
      =c.text_area  :extern_comments
    .actions
      =c.submit

