%h3 Nuevo comentario
%i #{@current_user.name} dice:
=form_for [post, post.comments.build], :url=>post_comments_path(post.id), :remote  =>  :true  do |t|
  .field
    %p=t.text_area :body
    =t.submit "Comentar"

