.comment
  = image_tag('icons/comment_add.png')
  =link_to_function "Comentar", :id=>"toggleComment"

  #new_comment{:style=>"display:none"}
    %i #{@current_user.name} dice:
    =form_for [post, post.comments.build], :url=>post_comments_path(post.id), :remote  =>  :true, :html=>{:id=>post.id}  do |t|
      =t.text_area :body
      .actions
        =t.submit "Comentar"
