body
  margin:   0
  padding:  0
  font:
    family: Arial, Verdana   
a
  color: #ADBF6B
  font-size: 80%
  &:visited
    color: #74A629
  &:hover
    color: #D97904

#container
  margin:   0 auto
  padding:  0
  width:    960px

#container
  h1
    margin:   0px
    padding:  10px
    background-color: #D8E6F2
    color:    #D94B2B
  
input, textarea
  background
    color:    #ADBF6B
  border:     2px solid gray
  padding:    5px
  &:focus
    border:   2px solid #D94B2B
