body
  margin:   0
  padding:  0
  font:
    family: Arial, Verdana   
a
  color: #ADBF6B
  font-size: 80%
  &:visited
    color: #74A629
  &:hover
    color: #D97904

#container
  margin:   0 auto
  padding:  0
  width:    960px

#container
  h1
    margin:   0px
    padding:  10px
    background-color: #D8E6F2
    color:    #D94B2B

fieldset
  background: #D8E6F2
  border: 1px solid #ADBF6B
  
input, textarea
  background:
    color:    #f1f1f1
  border:     2px solid gray
  padding:    5px
  font:
    family: Arial
    size: 13px
  &:focus
    border:   2px solid #D94B2B

textarea
  width: 350px
  height: 150px
  
input[type=text]
  width: 350px
  
label
  display: block
  margin-top: 5px
  margin-bottom: 5px
  font-family: Arial, Helvetica, sans
  color: #D94B2B
  font-size: 20px
