body
  margin:   0
  padding:  0
  font:
    family: Arial, Verdana
  font-size: 14px
a
  color: #ADBF6B
  font-size: 95%
  &:visited
    color: #74A629
  &:hover
    color: #D97904
    
#user-nav
  background-color: white
  border-bottom: 1px solid #E9E600
  text-align: right
  padding: 5px

#container
  margin:   0 auto
  padding:  0
  width:    960px  
  -webkit-box-shadow: 1px 1px 20px #787878
  -moz-box-shadow: 1px 1px 20px #787878
  box-shadow: 1px 1px 20px #787878
  padding:
    left: 5px
    right: 5px
    bottom: 5px

#container
  h1
    margin:   0px
    padding:  10px
    background-color: #D8E6F2
    color:    #D94B2B
    -webkit-border-top-left-radius: 0px
    -webkit-border-top-right-radius: 0px
    -webkit-border-bottom-right-radius: 10px
    -webkit-border-bottom-left-radius: 10px
    -moz-border-radius-topleft: 0px
    -moz-border-radius-topright: 0px
    -moz-border-radius-bottomright: 10px
    -moz-border-radius-bottomleft: 10px
    border-top-left-radius: 0px
    border-top-right-radius: 0px
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px 
  h2
    color: #333
    border-bottom: 1px solid #D94B2B
    font-size: 110%

fieldset
  background: #D8E6F2
  border: 1px solid #ADBF6B
  width: 70%
  
input, textarea
  background: #ffffff
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff))
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 )
  border:     2px solid gray
  padding:    5px
  font:
    family: Arial
    size: 13px
  &:focus
    border:   2px solid #D94B2B

textarea
  width: 350px
  height: 150px
  
input[type=text]
  width: 350px
  
label
  display: block
  margin-top: 5px
  margin-bottom: 5px
  font-family: Arial, Helvetica, sans
  color: #D94B2B
  font-size: 20px

blockquote 
  margin: 1em 3em
  padding: 1em
  font-size: 110%
  border-left: 5px solid #fce27c
  background-color: #f4f4aa
  font-style: italic
  font-family: times, arial, sans
  
.alert
  color: red
  
.flash
  position: absolute
  display:block
  right: 5%
  background-color: #C4CCD9
  padding: 10px
  margin: 0 auto
  width: 106px
  z-index: 10
  text-align: center
  -moz-border-radius-topleft: 0px
  -moz-border-radius-topright: 0px
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-bottomleft: 10px
  border-top-left-radius: 0px
  border-top-right-radius: 0px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px 
  p > #notice
    color: #222F40

p.tree
  margin-left: 20px
