table
  border-collapse: collapse
  width: 100%
  th
    background: #D8E6F2
  td
    padding: 5px
    font-size: 85%
    text-align: center
  tr
    border:
      bottom: 1px solid #ADBF6B
   
.export-links
  font-size: 70%
