.ticket
  .right
    float:  left
    width: 300px
    text-align: right
    .id
      font-family: Times            
      font-size:  110%
      font-style: oblique
      float: right
      
  .actions
    padding-top: 10px
  
  .left
    width: 640px    
    float: left
  
  .pg
    clear: both
    
  .description
    font:
      size: 95%
      family: Times, Arial, sans
    padding: 5px
    text-align: justify
    border-bottom: 1px solid #D8E6F2
    
  .time
    padding: 5px
    color: #D94B2B
    
    
  padding: 10px
  margin:
    top:  10px
    bottom: 10px
  background: #f4f4aa
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

