h1 {
  color: #e86427; }

#content {
  background-color: white; }

h2 {
  color: #ce5922; }

h3 {
  color: #a8491c; }

author {
  font-weight: bold; }

date {
  font-style: italic; }

#header, #nav {
  margin-bottom: 10px; }

.clear {
  clear: both; }

.flash {
  position: absolute;
  text-align: center;
  width: 100%;
  background: #fff6bf;
  border-right: 2px solid #ffd324;
  border-left: 2px solid #ffd324;
  border-bottom: 2px solid #ffd324; }
  .flash p {
    font-size: 150%;
    font-weight: bold;
    padding: 10px; }

#nav {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f0f0f0; }

.field {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee; }

fieldset .counter {
  color: #333333;
  margin-left: 250px; }
fieldset .warning {
  color: #e86427; }
fieldset .exceeded {
  color: red; }

label {
  width: 250px;
  height: 50px;
  float: left; }

input, input[type="text"], input[type="file"], textarea {
  border: 1px solid black; }
  input:focus, input[type="text"]:focus, input[type="file"]:focus, textarea:focus {
    background: #eeeeee; }

input[type="text"], textarea {
  width: 270px; }

textarea {
  font-family: Arial;
  height: 70px; }

.change > .content {
  margin-left: 20px; }

.comment {
  background: #d6e5ee;
  border: 1px solid #6a96b1;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

.ticket h2 {
  background: #eeeeee;
  font-size: 140%;
  padding: 3px; }
.ticket h3 {
  font-size: 110%; }
.ticket h4 {
  font-size: 105%; }
.ticket table {
  width: 100%; }
.ticket .change_type {
  color: black;
  font-size: 105%;
  font-weight: bold; }

.ticket_for_tabs {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background: #eeeeee; }
  .ticket_for_tabs .arrows {
    color: green; }
  .ticket_for_tabs .name, .ticket_for_tabs .title {
    font-weight: bold; }
  .ticket_for_tabs .name {
    color: #e86427; }
  .ticket_for_tabs .description {
    font-size: 90%;
    font-style: italic; }
  .ticket_for_tabs:hover {
    background: white; }

.editable {
  background-color: #fff6bf;
  background-image: url("/images/icons/pencil.png");
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer; }
