table {
  border-collapse: collapse;
  width: 100%; }
  table th {
    background: #d8e6f2; }
  table td {
    padding: 5px;
    font-size: 85%;
    text-align: center; }
  table tr {
    border-bottom: 1px solid #adbf6b; }

.export-links {
  font-size: 70%; }
