.ticket {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f4f4aa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .ticket .right {
    float: right;
    font-weight: bold;
    text-align: right; }
  .ticket .description {
    font-size: 95%;
    font-family: Times, Arial, sans;
    width: 640px;
    padding: 5px;
    text-align: justify;
    min-height: 60px; }
  .ticket .time {
    margin: 5px;
    color: #d94b2b; }
  .ticket .actions {
    float: right; }
