.grid_12
  %h1 Entrar al sistema
  = field_set_tag 'Acceso' do
    =form_tag '/authenticate' do
      .field
        =label_tag :user, "ID"
        =text_field_tag :user
      .field
        =label_tag  :password, "Password"
        =password_field_tag :password
      .actions
        =submit_tag 'Entrar'
