%table.tickets-table
  %tr
    %th
      Estudiante
    %th
      Asunto
    %th
      Ver
    %th
      Fecha
    - if @current_user.admin?      
      %th
        Exportar
        .export-links
          =link_to "Todos", nil, :id=>'checkall-button', :class=>tickets.first.status
  -for ticket in tickets
    %tr 
      %td                 
        =ticket.student.name
      %td
        =ticket.corresponding_to
      %td       
        =link_to "Detalles", ticket_path(ticket)
      %td
        = l ticket.created_at.to_date, :format  =>  :short
      -if @current_user.admin?
        %td
          = check_box_tag('ticket_to_report', ticket.id, false, :class=>ticket.status)
