- include_css 'tickets/form.css'
  
%h1 Asignar Responsable
%p
  = link_to t('back'), tickets_path
  
= form_for @ticket do |t|
  =field_set_tag do
    .field
      =t.label t('.responsible')
      =t.text_field  :responsible
      
    .actions
      =t.submit 
