- content_for  :script do
  =javascript_include_tag  'jq-scripts/charCount.js'
  :javascript
    $(document).ready(function(){$("#ticket_description").charCount({allowed: 300, counterText: "Límite:"});});  

- content_for :css  do  
  =stylesheet_link_tag 'tickets/form.css'

.grid_12
  %h1= t '.title'
  %p= link_to t('back'), ticket_path(@ticket)
  = render 'form'
