- content_for  :script do
  =javascript_include_tag  'jq-scripts/charCount.js'
  :javascript
    $(document).ready(function(){$("#ticket_description").charCount({allowed: 300, counterText: "Límite: "});});  

- content_for :nav do
  = back_button(ticket_path(@ticket) )
.grid_12
  %h1= t '.title'  
  = render 'form'
