-include_css 'ticket.css'
-include_script 'jquery.cookie.js'

%h1= t('.title')
%p 
  =link_to t('.new_ticket'), new_ticket_path
  |
  =link_to 'Nueva Queja con parametros', new_ticket_path(:student_id=>135987, :teacher_id=>1230, :course_id=>'IS-234')

%h2= t('.pending_tickets')
=render @pending_tickets
  
%h2= t('.active_tickets')
=render @active_tickets
  
%h2= t('.finished_tickets')
=render @finished_tickets
