-content_for :css do
  -stylesheet_link_tag 'ticket.css'

%h1= t('.title')
%p 
  =link_to t('.new_ticket'), new_ticket_path
  |
  =link_to 'Nueva Queja con parametros', new_ticket_path(:student_id=>135987, :teacher_id=>1230, :course_id=>'IS-234')

= render @tickets
