- if @current_user.admin?
  -include_script 'jquery.cookie.js', 'jq-scripts/report_generation.js', 'jq-scripts/tabs.js'
- if @current_user.student?  
  -include_script 'jquery.cookie.js', 'jq-scripts/tabs.js'

= content_for :nav do 
  =link_to t('.new_ticket'), new_ticket_path
  - if @current_user.admin?
    = link_to "Managers", managers_path
    = link_to 'Reporte',  tickets_path(:format=>:pdf)

.grid_8
  %h1 Panel de Quejas
  #tabs
    %ul 
      %li
        =link_to  "Sin Revisar", tickets_by_status_path(:status=>:pending)
      %li
        =link_to "En Proceso", tickets_by_status_path(:status=>:active)
      %li
        =link_to  "Terminadas", tickets_by_status_path(:status=>:finished)
      %li
        <img id="spinner" src="/images/loading.gif" style="display:none" />
.grid_4
  %h1 Wow
  %p Bueno si, aqui viene el panel de quejas ugentes!
