-include_css 'ticket.css', 'flick/jquery-ui.css'
-include_script 'jquery.cookie.js', 'jquery-ui.js', 'jq-scripts/tabs.js', 'jq-scripts/report_generation.js'

%h1= t('.title')
%p 
  =link_to t('.new_ticket'), new_ticket_path
  |
  =link_to 'Nueva Queja con parametros', new_ticket_path(:student_id=>135987, :teacher_id=>1230, :course_id=>'IS-234')
  |
  = link_to 'Reporte',  tickets_path(:format=>:pdf)

#tabs
  %ul 
    %li
      =link_to  "Pendientes", tickets_by_status_path(:status=>:pending)
    %li
      =link_to "Activas", tickets_by_status_path(:status=>:active)
    %li
      =link_to  "Terminadas", tickets_by_status_path(:status=>:finished)
