- include_script 'jq-scripts/charCount.js', 'student_recognition.js'
- content_for  :script do
  :javascript
    $(document).ready(function(){$("#ticket_description").charCount({allowed: 300, counterText: "Límite:"});});  

- include_css 'tickets/form.css'

.gird_12    
  %h1 Nueva Queja
  %p= link_to t('back'), tickets_path
  
  = render 'form'
