/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url('bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('/stylesheets/tablesorter/green/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
/* Custom Rules */
table.tablesorter tbody td.urgent {
  padding-left: 20px;
  background-image: url('/images/icons/exclamation.png');
  background-repeat: no-repeat;
  background-position: center left;
}
table.tablesorter tbody td.checkbox {
  text-align:center
}
table.tablesorter thead tr th.export{
  // background-image: url('/images/icons/report_disk.png');
  background-image: none;
  // background-position: center center;
  width: 20px;
  cursor: default;
}
